name: Machine Learning CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.7'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow pandas scikit-learn numpy 
        # Tambahkan library lain jika ada di requirements.txt

    - name: Check Env
      run: |
        python --version
        pip --version

    - name: Run MLflow Project
      working-directory: ./MLProject  # Masuk ke folder tempat file MLProject berada
      run: |
        # Menggunakan --env-manager local karena dependensi sudah diinstal di step sebelumnya
        mlflow run . --env-manager local
